/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: white;
  margin-top: 50px; }

.fa-mobile {
  display: inline;
  font-size: 40px;
  width: 38px;
  height: 10px;
  color: white;
  text-align: center;
  vertical-align: middle; }

.fa-desktop {
  display: inline;
  font-size: 40px;
  width: 38px;
  height: 2px;
  color: white;
  text-align: center;
  vertical-align: middle; }

.container {
  width: 70%;
  height: 100%;
  margin: 0px auto; }

.date_stamp,
.timeline,
.blog_entries {
  display: inline-block;
  height: 480px;
  vertical-align: top; }

.date,
.time {
  display: block; }

.blog_title {
  border-bottom: 1px solid lightgray;
  font-size: 32px;
  padding-bottom: 10px;
  font-weight: bold;
  font-family: 'Abril Fatface', cursive; }

.blog_text {
  font-size: 20px;
  padding: 20px 20px 20px 0px; }

.caret {
  width: 18px;
  height: 18px;
  background-color: #6CBFEE;
  transform: rotate(45deg);
  margin-left: -43px;
  margin-top: -22px; }

.circle_outer {
  display: block;
  width: 55px;
  height: 55px;
  background: #AFDCF8;
  border-radius: 50%;
  margin: auto;
  margin-top: -7px;
  z-index: 10; }

.circle_inner {
  position: relative;
  width: 40px;
  height: 40px;
  top: 8px;
  margin: 0 auto;
  background: #3594CB;
  border-radius: 50%; }

.date {
  font-size: 15px;
  text-align: right;
  color: #C4D0DD;
  padding-right: 8px;
  font-family: 'Helvetica'; }

.time {
  font-size: 45px;
  text-align: right;
  color: #6CBFEE;
  margin-top: 5px;
  padding-right: 8px;
  font-family: 'Oxygen', sans-serif; }

.date_stamp {
  width: 13%;
  background-color: white; }

.timeline {
  margin: auto;
  position: relative;
  width: 7%;
  background-color: white; }

.timeline_bar {
  display: block;
  margin: auto;
  margin-top: -47px;
  width: 15%;
  height: 100%;
  background-color: #AFDCF8; }

.blog_entries {
  position: relative;
  background-color: #6CBFEE;
  max-width: 78%;
  padding: 35px 35px 35px 35px;
  margin-left: 18px;
  border-radius: 6px;
  color: white;
  line-height: 1.35;
  font-family: 'Quattrocento Sans', sans-serif; }

.second_blog_color_post {
  background-color: #3594CB; }

.second_blog_color_text {
  color: #3594CB; }

@media screen and (max-width: 1290px) {
  .container {
    width: 80%; } }

@media screen and (max-width: 1130px) {
  .container {
    width: 90%; } }

@media screen and (max-width: 1100px) {
  .container {
    width: 90%; }
  .date_stamp {
    height: 100%; }
  .blog_entries {
    height: 100%; }
  .timeline {
    height: 100%; } }

@media screen and (max-width: 998px) {
  .date_stamp {
    width: 9%;
    height: 100%; }
  .blog_entries {
    width: 90%;
    margin-left: 0;
    height: 100%; }
  .timeline {
    width: 4%; }
  .container {
    width: 100%;
    margin: 0px auto; }
  .caret {
    display: none; }
  .date {
    font-size: 15px; }
  .time {
    font-size: 28px; }
  .circle_outer {
    width: 80%;
    border-radius: 6px; }
  .circle_inner {
    width: 80%;
    border-radius: 6px; }
  .fa-mobile {
    display: inline;
    font-size: 40px;
    width: 20px;
    height: 10px;
    color: white;
    text-align: center;
    vertical-align: middle; }
  .fa-desktop {
    display: inline;
    font-size: 30px;
    width: 20px;
    height: 5px;
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-top: 9px; } }

@media screen and (max-width: 768px) {
  body {
    margin: 0; }
  .date_stamp,
  .blog_entries {
    display: block;
    max-width: 90%;
    margin-left: 5%; }
  .timeline {
    display: none; }
  .date_stamp {
    width: 100%;
    max-height: 40px;
    margin-bottom: 25px;
    margin-top: 40px;
    padding: 0; }
  .date {
    text-align: left;
    font-size: 20px;
    padding-left: 5px; }
  .time {
    text-align: left;
    font-size: 50px;
    margin-top: 0; } }

@media screen and (max-width: 500px) {
  .blog_entries {
    margin: 0px;
    max-width: 100%; }
  .date_stamp {
    width: 100%;
    padding: 5px;
    margin: 0px;
    max-height: 20%; }
  .blog_text {
    max-height: 100%; }
  .container {
    max-height: 100%; }
  .date_stamp,
  .timeline,
  .blog_entries {
    height: 100%;
    vertical-align: top; } }
