// @imports
@import 'reset';
// variables
$primary-color: white;
$first-blog-color: #6CBFEE;
$second-blog-color: #3594CB;
$date-color: #C4D0DD;
$timeline-color: #AFDCF8;
// @mixins
@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// @includes
* {
    @include border-box;
}

body {
    background-color: $primary-color;
    margin-top: 50px;
}

.fa-mobile,
{
    display: inline;
    font-size: 40px;
    width: 38px;
    height: 10px;
    color: $primary-color;
    text-align: center;
    vertical-align: middle;
}

.fa-desktop,
{
    display: inline;
    font-size: 40px;
    width: 38px;
    height: 2px;
    color: $primary-color;
    text-align: center;
    vertical-align: middle;
}

.container {
    width: 70%;
    height: 400px;
    margin: 0px auto;
}

div .date_stamp,
.timeline,
.blog_entries {
    display: inline-block;
    height: 380px;
    vertical-align: top;
}

.date,
.time {
    display: block;
}

.blog_title {
    border-bottom: 1px solid lightgray;
    font-size: 32px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
}

.blog_text {
    font-size: 20px;
    padding: 20px 20px 20px 0px;
}

.caret {
    width: 18px;
    height: 18px;
    background-color: $first-blog-color;
    transform: rotate(45deg);
    margin-left: -43px;
    margin-top: -22px;
}

.circle_outer {
    // position: relative;
    display: block;
    width: 55px;
    height: 55px;
    background: $timeline-color;
    border-radius: 50%;
    margin: auto;
    margin-top: -7px;
    z-index: 10;
}

.circle_inner {
    position: relative;
    width: 40px;
    height: 40px;
    top: 8px;
    margin: 0 auto;
    background: $second-blog-color;
    border-radius: 50%;
}

.date {
    font-size: 15px;
    text-align: right;
    color: $date-color;
    padding-right: 8px;
    font-family: 'Helvetica';
}

.time {
    font-size: 45px;
    text-align: right;
    color: $first-blog-color;
    margin-top: 5px;
    padding-right: 8px;
    font-family: 'Oxygen', sans-serif;
}

.date_stamp {
    width: 13%;
    background-color: $primary-color;
}

.timeline {
    margin: auto;
    position: relative;
    width: 7%;
    background-color: $primary-color;
}

.timeline_bar {
    display: block;
    margin: auto;
    margin-top: -47px;
    width: 15%;
    height: 100%;
    background-color: $timeline-color;
}

.blog_entries {
    position: relative;
    background-color: $first-blog-color;
    max-width: 78%;
    padding: 35px 35px 35px 35px;
    margin-left: 18px;
    border-radius: 6px;
    color: $primary-color;
    line-height: 1.35;
    font-family: 'Quattrocento Sans', sans-serif;
}

.second_blog_color_post {
    background-color: $second-blog-color;
}

.second_blog_color_text {
    color: $second-blog-color;
}

// @media queries
@media screen and (max-width: 1290px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 1130px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 998px) {
    .date_stamp {
        width: 9%;
    }
    .blog_entries {
        width: 90%;
        margin-left: 0;
    }
    .timeline {
        width: 4%;
    }
    .container {
        width: 100%;
        margin: 0px auto;
    }
    .caret {
        display: none;
    }
    .date {
        font-size: 15px;
    }
    .time {
        font-size: 28px;
    }
    .circle_outer {
        width: 80%;
        border-radius: 6px;
    }
    .circle_inner {
        width: 80%;
        border-radius: 6px;
    }
    .fa-mobile {
        display: inline;
        font-size: 40px;
        width: 20px;
        height: 10px;
        color: $primary-color;
        text-align: center;
        vertical-align: middle;
    }
    .fa-desktop {
        display: inline;
        font-size: 30px;
        width: 20px;
        height: 5px;
        color: $primary-color;
        text-align: center;
        vertical-align: middle;
        margin-top: 9px;
    }
}

@media screen and (max-width: 768px) {
    .date_stamp,
    .blog_entries {
        display: block;
        width: 100%;
        margin-left: 20px;
    }
    .blog_entries {}
    .timeline {
        display: none;
    }
    .date_stamp {
        max-height: 40px;
        margin-bottom: 25px;
        margin-top: 40px;
        padding-top: 15px;
        display: block;
    }
    .date {
        text-align: left;
        font-size: 20px;
        padding-left: 5px;
    }
    .time {
        text-align: left;
        font-size: 50px;
        margin-top: 0;
    }
}
